@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.discordapp.com/attachments/944963944668352522/944964039245692928/overlay.png"),
    url("https://cdn.discordapp.com/attachments/944963944668352522/944963982542901268/banner.jpg");
  height: 100vh;
  overflow: hidden;
}

.name {
  margin-left: 57rem;
  margin-top: 10px;
  width: 150px;
  color: rgb(168, 51, 51);
  border-color: red;
  font-size: 1rem;
  font-weight: 600;
}
.name h1 {
  font-size: 45px;
  background: -webkit-linear-gradient(rgb(85, 155, 196), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  width: 400px;
  background: rgb(84, 105, 124);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.title-center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.title-center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .info {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.info input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.info label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.info span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.info input:focus ~ label,
.info input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.info input:focus ~ span:before,
.info input:valid ~ span:before {
  width: 100%;
}
.remember {
  margin-bottom: 1.2rem;
  color: #adadad;
}
.dn {
  padding: 0.3em;
  margin-left: 4.6rem;
  background: #2691d9;
  border-radius: 10px;
  font-size: 28px;
  color: #e9f4fb;
  font-weight: 100;
  text-decoration: none;
}
.dn:hover {
  background: #6290c5;
}
.forget {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #e00000;
}
.forget a {
  color: #2691d9;
  text-decoration: none;
}
.forget a:hover {
  text-decoration: underline;
}
.img img {
  position: absolute;
  left: 101%;
  top: 0;
  border-radius: 10px;
  opacity: 0.9;
}
