.sidebar {
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  box-shadow: 0 0 80px rgba(68, 62, 62, 0.7);
  white-space: nowrap;
}

.sidebar-brand {
  padding: 1rem 0rem 1rem 1rem;
  height: 64px;
  font-size: 25px;
  color: var(--sub-color);
  background: var(--main-color);
  display: flex;
}

.sidebar .sidebar-brand {
  color: var(--main-color);
  background: var(--main-color);
  display: flex;
}

.sidebar-brand span:first-child {
  font-size: 2rem;
  color: var(--text-color);
}

.sidebar-brand span:first-child:hover {
  color: rgb(134, 146, 214) 200%;
}

.sidebar-brand span:not(:last-child, :first-child) {
  float: left;
  font-size: 2rem;
  padding-left: 1rem;
}

.sidebar-menu {
  overflow: auto;
  height: 100%;
}

.sidebar-menu a {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  height: 50px;
  color: var(--sub-light-color);
  font-size: 1rem;
  transition: all 0.4s ease;
  gap: 17px;
  align-items: center;
}

.sidebar-menu a span:first-child {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
}

.sidebar-menu a span:last-child {
  font-size: 1rem;
}

.sidebar-menu a:hover {
  background: var(--sub-color);
  color: var(--main-color);
}

.sidebar-menu a.active {
  background: var(--sub-color);
  color: var(--main-color);
}

.sidebar-menu a.active:hover {
  color: var(--text-color);
}

#nav-toggle:checked + .sidebar {
  width: calc(260px - 195px);
  transition: width 0.4s ease-in-out;
  overflow: visible;
  box-shadow: none;
}

#nav-toggle:checked + .sidebar .sidebar-brand span:not(:first-child) {
  display: none;
}

#nav-toggle:checked + .sidebar .sidebar-menu {
  overflow: hidden;
}

#nav-toggle:checked + .sidebar .sidebar-menu a span:last-child {
  display: none;
}

#nav-toggle:checked + .sidebar .sidebar-menu a:hover span:last-child {
  position: absolute;
  display: flex;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  background-color: var(--sub-color);
  color: var(--main-color);
  left: 80px;
  border-radius: 10px;
}

#nav-toggle:checked ~ .modal-backdrop1 {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out;
}

.modal-backdrop1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  visibility: visible;
  opacity: 1;
  background-color: var(--main-trans-color);
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.main-content header {
  background: var(--main-color);
  color: var(--text-menu);
}

/* thẻ đầu bắt đầu */
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
}

header h2 {
  color: #222;
}

.modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.4s ease-in;
}

.user-wrapper {
  display: flex;
  align-items: center;
  width: 200px;
  color: var(--text-color);
}

.user-wrapper img {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
}
.user-wrapper:hover img {
  border: 2px solid var(--sub-color);
}
.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

.user-wrapper ul {
  display: none;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 4rem;
  background: rgba(255, 204, 204, 0.3);
  backdrop-filter: blur(10px); /* This will produce the blur */

  border: 2px solid var(--text-trans-grey);
  padding-top: 0.75rem;
}

.user-wrapper li {
  margin-bottom: 1rem;
  width: 160px;
}

[id^="btn"]:checked + .user-wrapper ul {
  display: block;
  z-index: 50;
}

[id^="btn"]:checked + .user-wrapper .modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.user-wrapper a {
  padding-left: 1rem;
  color: var(--text-color);
  font-size: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.user-wrapper a:hover {
  color: var(--sub-color);
}

.user-wrapper span {
  display: inline-block;
  font-size: 1rem;
}

main {
  position: relative;
  margin: 1rem 1rem 0rem 5rem;
  overflow: auto;
  z-index: 1;
}

.tabbed {
  overflow: auto;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed
  [type="radio"]:nth-of-type(3):checked
  ~ .tabs
  .tab:nth-of-type(3)
  label {
  background: rgb(125, 162, 231);
  color: rgb(255, 255, 255);
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed.account
  [type="radio"]:nth-of-type(2):checked
  ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
  display: block;
}

.tabbed [type="radio"] {
  display: none;
}

.tab-content {
  overflow-y: auto;
  overflow-x: auto;
  display: none;
  color: var(--main-color);
  padding: 0.5rem;
  height: calc(100vh - 140px);
  background: rgb(121, 252, 252);
  border-radius: 10px;
}

.tab-content .tab-faq {
  border-radius: 10px;
  background: var(--sub-trans);
  border: 1px solid var(--sub-color);
  height: calc(100vh - 300px);
}

.tab-faq .faq {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  display: inline-block;
  overflow: auto;
}

.tab-content .faq p {
  padding-bottom: 1rem;
}

.tab-content .faq p span {
  display: block;
  margin-left: 1.25rem;
  margin-top: -1.4rem;
  margin-right: 2rem;
}

.tab-content .faq p .count-line {
  margin-top: 0;
  margin-left: 1.25rem;
}

.tabs {
  display: flex;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin-left: 1.5rem;
}

/* .tab {
  width: 50%;
} */

.tab > label {
  display: block;
  padding: 12px 15px;
  background: rgba(129, 111, 206, 0.459);
  color: rgb(235, 235, 235);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 10px 10px 0px 0px;
  border-bottom-color: var(--sub-color);
  white-space: nowrap;
}

.tab:hover label {
  color: var(--main-color);
}
.tab-content .tab-faq {
  height: 100%;
}
.tab-content .card-content.flex-container {
  height: 100%;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.tab-content .card-content.grid-container {
  height: 100%;
  display: grid;
  grid-gap: 0.5rem;
}

.card-singel {
  border-radius: 10px;

  background: var(--sub-trans);
}

.left-top {
  grid-area: left-top;
}

.right-top {
  grid-area: right-top;
}

.right-bottom {
  grid-area: right-bottom;
}

.left-bottom {
  grid-area: left-bottom;
}

.left-full {
  grid-area: left-full;
}

.right-full {
  grid-area: right-full;
}

table {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
}

tbody {
  font-size: 14px;
}

thead th,
tfoot th {
  text-transform: uppercase;
  text-align: center !important;
}

thead th:first-child {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

tfoot th:first-child {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

tfoot th:last-child {
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

.card-body .card-table {
  text-align: center;
}

.dataTables_filter {
  width: 100%;
}

.dataTable {
  border-collapse: collapse;
  margin: 0 auto;
}

.dataTable thead th,
.dataTable tfoot th {
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  background-color: var(--main-color);
  color: var(--sub-color);
}
.dataTable tbody {
  background-color: var(--sub-trans);
  border-radius: 10px;
}
.dataTable tbody td {
  padding: 0.5rem;
  background-color: var(--sub-trans);
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.dataTable tbody td:not(:last-child, :first-child) {
  border-left: 1px solid var(--sub-color);
  border-right: 1px solid var(--sub-color);
  border-bottom: 1px solid var(--sub-color);
}

.dataTable tbody td {
  border-bottom: 1px solid var(--sub-color);
}
.dataTable tbody tr {
  counter-increment: rowNumber;
}

.dataTable tr td:first-child::before {
  content: counter(rowNumber);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #222;
}

.dataTable tbody tr {
  background-color: var(--back-grey);
  transition: all 0.3s;
}

.dataTable tbody tr td:first-child {
  background-color: var(--text-sub);
}

.dataTable tbody .dataTables_empty {
  display: none !important;
}

.dataTable tbody tr:hover {
  background-color: var(--sub-light-color);
  color: var(--main-color);
}

.dataTable tbody .selected {
  background-color: var(--sub-color);
  color: var(--text-color);
}
.dataTable tbody .selected:hover {
  background-color: var(--sub-color);
  color: var(--main-color);
}

div.toolbar {
  text-align: left;
}

div.toolbar input {
  margin-top: 0;
  margin-bottom: 1rem;
}
